<% layout('./layouts/boilerplate.ejs')%>
<div class="row">
    <h1 class="text-center">New CampGround</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="post" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="campground[title]">Title </label>
                <input class="form-control" type="text" name="campground[title]" id="campground[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="campground[location]">Location: </label>
                <input class="form-control" type="text" name="campground[location]" id="campground[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Add Images</label>
                <input class="form-control" type="file" id="image" name='image' multiple>
            </div>
            <!-- <div class="mb-3">
                <label class="form-label" for="campground[image]">Image Url: </label>
                <input class="form-control" type="text" name="campground[image]" id="campground[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> -->
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price: </label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="campground[price]" placeholder="0.00" aria-label="campground[price]"
                        aria-describedby="price-label" name="campground[price]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="campground[description]">Description: </label>
                <textarea class="form-control" type="text" name="campground[description]" id="campground[description]" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>
